{
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "infection.log",
        "badge": {
            "branch": "master"
        }
    },
    "mutators": {
        "@default": true,
        "ProtectedVisibility": {
            "ignore": [
                "bitExpert\\CaptainHook\\ValidateAuthor\\ValidateAuthorAction::getConfig"
            ]
        },
        "CastString": {
            "ignore": [
                "bitExpert\\CaptainHook\\ValidateAuthor\\ValidateAuthorAction::getConfig"
            ]
        }
    }
}
